.page {
  width: 100%;
  min-height: 150dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-block-start: 6rem;
  gap: 2rem;

  .main {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    .popover {
      .popoverTrigger {
        padding: 0.5rem 1.2rem;
        border-radius: 999px;
        border: 1px solid hsl(var(--border));
        background-color: hsl(var(--blue));
        color: hsl(var(--blue-foreground));
        transition: all 0.2s ease;

        font-size: 1rem;
        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: hsl(var(--blue) / 0.75);
            cursor: pointer;
          }
        }

        &:focus {
          border-color: hsl(var(--blue));
        }

        &:active {
          scale: 0.97;
        }
      }

      .popoverContent {
        background-color: hsl(var(--muted));
        border-radius: 0.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 300px;

        & h3 {
          font-size: 1rem;
          font-weight: 500;
          margin-bottom: 1rem;
          color: hsl(var(--foreground));
        }

        & i {
          color: hsl(var(--muted-foreground));
          font-size: 0.75rem;
        }

        & p {
          font-size: 0.75rem;
          color: hsl(var(--muted-foreground));
        }
      }
    }
  }
}
